/* src/index.css */
:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f9; /* Color de fondo claro para que coincida con App.css */
}

/* El div #root debe ocupar todo el espacio para centrar la app */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
